{% extends "finance/components/finance_navtab.html.j2" %}
{% block title
    %}
    Finance-Insight
{% endblock %}
{% block finance_content %}
    <!-- TODO: Finance Content -->
    <h1>Insight</h1>
{% endblock %}
