{% extends "base.html" %} {% block content %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      class="nav-link {{ 'active' if request.endpoint == 'finance.render_finance_page' }}"
      aria-current="page"
      href="{{ url_for('finance.render_finance_page') }}"
      ><i class="fa-solid fa-money-bill-transfer"></i> Transactions</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link  {{ 'active' if request.endpoint == 'finance.render_finance_categories_page' }}"
      href="{{ url_for('finance.render_finance_categories_page') }}"
      ><i class="fa-solid fa-cubes-stacked"></i> Categories</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link  {{ 'active' if request.endpoint == 'finance.render_finance_accounts_page' }}"
      href="{{ url_for('finance.render_finance_accounts_page') }}"
      ><i class="fa-solid fa-credit-card"></i> Accounts</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link  {{ 'active' if request.endpoint == 'finance.render_finance_insight_page' }}"
      href="{{ url_for('finance.render_finance_insight_page') }}"
      ><i class="fa-solid fa-money-bill-trend-up"></i> Insight</a
    >
  </li>
</ul>
<div class="border border-top-0 p-3 rounded-bottom">
  {% block finance_content %} {% endblock %}
</div>
{% endblock %}
